version: "3"
services:
  mongo:
    image: mongo
    restart: always
    environment:
     # MONGO_INITDB_ROOT_USERNAME: root
      #MONGO_INITDB_ROOT_PASSWORD: example
  go-app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      -"7001:7001"
    volumes:
      - .:/DDD
  test:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/DDD
    command: ["go", "test"]